package ${package_name}.${module}.controller;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;

import ${package_name}.${module}.service.${model}Service;

/**
 * ${modelname}controller
 */
@Controller
@RequestMapping("/${model}")
public class ${model}Controller{

    private static final Logger LOGGER = LoggerFactory.getLogger(${model}Controller.class);

	@Autowired
    private ${model}Service ${mapper}Service;

}